<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" 
    integrity="sha512-DEcSaL0BWApJ//v7ZfqAI04nvK+NQcUVwrrx/l1x7OJgU0Cwbq7e459NBMzLPrm8eLPzAwBtiJJS4AvLZDZ8xA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<style>

    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }
    .table-responsive {
        margin: 30px 0;
    }
    .table-wrapper {
        min-width: 1000px;
        background: #fff;
        padding: 20px 25px;
        border-radius: 3px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 15px;
        background: #299be4;
        color: #fff;
        padding: 16px 30px;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }
    .table-title h2 {
        margin: 5px 0 0;
        font-size: 24px;
    }
    .table-title .btn {
        color: #566787;
        float: right;
        font-size: 13px;
        background: #fff;
        border: none;
        min-width: 50px;
        border-radius: 2px;
        border: none;
        outline: none !important;
        margin-left: 10px;
    }
    .table-title .btn:hover, .table-title .btn:focus {
        color: #566787;
        background: #f2f2f2;
    }
    .table-title .btn i {
        float: left;
        font-size: 21px;
        margin-right: 5px;
    }
    .table-title .btn span {
        float: left;
        margin-top: 2px;
    }
    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }
    table.table tr th:first-child {
        width: 60px;
    }
    table.table tr th:last-child {
        width: 100px;
    }
    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }
    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }	
    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }
    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
    }
    table.table td a:hover {
        color: #2196F3;
    }
    table.table td a.settings {
        color: #2196F3;
    }
    table.table td a.delete {
        color: #F44336;
    }
    table.table td i {
        font-size: 19px;
    }
    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }
    .status {
        font-size: 30px;
        margin: 2px 2px 0 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 10px;
    }
    .text-success {
        color: #10c469;
    }
    .text-info {
        color: #62c9e8;
    }
    .text-warning {
        color: #FFC107;
    }
    .text-danger {
        color: #ff5b5b;
    }
    .pagination {
        float: right;
        margin: 0 0 5px;
    }
    .pagination li a {
        border: none;
        font-size: 13px;
        min-width: 30px;
        min-height: 30px;
        color: #999;
        margin: 0 2px;
        line-height: 30px;
        border-radius: 2px !important;
        text-align: center;
        padding: 0 6px;
    }
    .pagination li a:hover {
        color: #666;
    }	
    .pagination li.active a, .pagination li.active a.page-link {
        background: #03A9F4;
    }
    .pagination li.active a:hover {        
        background: #0397d6;
    }
    .pagination li.disabled i {
        color: #ccc;
    }
    .pagination li i {
        font-size: 16px;
        padding-top: 6px
    }
    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
    </style> 
    </head>
    <body>
    <div class="container-xl">
        <div class="table-responsive">
            <!-- form start -->
            <div class="w-100 d-flex justify-content-center pb-5">
            <form class="w-50 d-flex justify-content-center flex-column">
                <div class="mb-3">
                  <label for="fromDate" class="form-label">from :</label>
                  <input type="date" name="fromDate" class="form-control" id="fromDate">
                 
                </div>
                <div class="mb-3">
                  <label for="toDate" class="form-label">to :</label>
                  <input type="date" name="toDate" class="form-control" id="toDate">
                </div>
                
                <button type="button" onclick="dateSubmit()" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <!-- form end -->
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>Report</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="/admin/" class="btn btn-secondary"><i class="null"></i> <span>Back to dashboard</span></a>
                            
                            <button id="download-button" class="btn btn-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                        </svg>Print</button>
                        </div>
                    </div>
                </div>
                <div id="invoice" class="table-responsive">
                <table class="table table-striped table-hover">                
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date & Time</th>
                            <th scope="col">orderID</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Address</th>
                            <th scope="col">Status</th>
                            <th scope="col">Payment Method</th>
                            <th scope="col">Total</th>            
                    </thead>
                    <tbody>
                       
                        <% order.forEach((el,index)=>{ %> 
                            
                             <td><a href="#" id="index"><%=index+1  %></a></td>
                             <td><a href="#" id="date"><%=el.createdAt.toLocaleDateString()%></a></td>
                             <td><a href="#" id="id"><%=el._id %></a></td>     
                             <td><a href="#" id="name"><%=el.result[0].address[0].fullName%></a></td>       
                             <td><a href="#" id="landMark"><%=el.result[0].address[0].landMark%></a></td>       
                            <td><a href="#" id="status"><%=el.orderStat  %></a></td>     
                            <td><a href="#" id="method"><%=el.paymentMethod  %></a></td>     
                            <td><a href="#" id="total"><%=el.totalPrice %></a></td>     
                        
                        </tr>
                    </tbody>    
                    <% }) %>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>   
                    <td><b>TOTAL:</b></td>
                    <td><b>₹<%=total[0].total%></b></td>
                </table>
                <div class="clearfix">
                 </div>
               <tr>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>

    <script>
        const dateSubmit = async function  (){
            const fromDate = document.getElementById('fromDate').value;
            const toDate = document.getElementById('toDate').value;
            console.log(fromDate)
            console.log(toDate)
            
            const response = await axios ({
                method:'post',
                url:'/admin/salesreport',
                data:{
                    fromDate:fromDate,
                    toDate:toDate
                }
            })
            console.log(response.data);
            for (let i = 0; i < response.data.length; i++) {
                $('#index').html = response.data.order[i].i+1;
                $('#date').html = response.data.order[i].createdAt;
                $('#id').html = response.data.order[i]._id;
                $('#name').html = response.data.order[i]._id;
                $('#landMark').html = response.data.order[i].address;
                $('#status').html = response.data.order[i].address.result[0].address[0].landMark;
                $('#method').html = response.data.order[i].paymentMethod;
                
            }
            $('#total').html = response.data.total;
        }
    </script>

    <script>
        const button = document.getElementById('download-button');
        function generatePDF() {
            // Choose the element that your content will be rendered to.
            const element = document.getElementById('invoice');
            // Choose the element and save the PDF for your user.
            html2pdf().from(element).save();
        }
        button.addEventListener('click', generatePDF);
    </script>